html, body {
    font-family: 'Helvetica';
    text-align: center;
}

#store img {
    height: 150px;
    width: 150px;
    transition: all .2s ease-in-out;
}

#store img:hover {
    transform: scale(1.3);
}

td {
    width: 24%;
    border: 1px solid;
}

td:last-child {
    background-color: ghostwhite;
}

tr:first-child {
    height: 100px;
}

tr:nth-child(n+2) {
    height: 170px;
}

a[href="About.html"] {
    float: right;
}

a[href="Main.html"], a[href="Store.html"] {
    float: left;
}

input {
    border-radius: 3px;
    height: 20px;
}

input:focus:invalid {
    border: 1px solid red;
    outline-color: transparent;
}

#checkoutForm  button{
    float: right;
    width: 100px;
    height: 30px;
    font: bold 14px 'Helvetica';
}

.purchaseBtn {
    background-color: greenyellow;
    margin: 10px 10px 0px 0px;
}

.cancelBtn {
    background-color: lightgray;
    margin: 10px 0px 0px 0px;
}

#mainLink {
    float: right;
}